# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
de1-env/
venv/

# IDE
.vscode/
.idea/

# Spark
spark-warehouse/
*.log

# Large parquet files (too large for GitHub)
lab2-practice/retail_dw_20250826/

# Large dump file
lab2-practice/retail_schema_ownerless_full.dump
